# A/B Testing

### Free-Trial Experiment

Enrolling into an Udacity Course, with the overall business goal of maximizing course completion by students.

[Tutorial Here](https://www.kaggle.com/tammyrotem/ab-tests-with-python?scriptVersionId=2109873)

#### Conditions Before Change
Two Options
* "start free trial", Asks for Credit Card Information, Can cancel after 14 days without payment.
* "access course materials", free.

#### Conditions After Change
Asked how much time they had to devote
* 5< usual checkout process
* 5> message for greater time commitment, suggestion to access course for free.

#### Hypothesis
To reduce the number of frusterated students who quit in the first 14 days, without significantly reducing the students going beyond 14 days and finishing the course.

### Metric
We choose two metrics
* Invariate: A metric which doesn't change that much after the experiment as a sanity check.
* Evaluation: This is the metric we would use to test the outcome of the experiment.

#### Invariate Metrics

#### Evaluation Metrics

#### Baseline

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

In [8]:
control = pd.read_csv("dataset/control_data.csv")
experiment = pd.read_csv("dataset/experiment_data.csv")

In [10]:
control.head()

          Date  Pageviews  Clicks  Enrollments  Payments
0  Sat, Oct 11       7723     687        134.0      70.0
1  Sun, Oct 12       9102     779        147.0      70.0
2  Mon, Oct 13      10511     909        167.0      95.0
3  Tue, Oct 14       9871     836        156.0     105.0
4  Wed, Oct 15      10014     837        163.0      64.0